{% extends 'base.html' %}


{% block content %}

    <form action="{% url 'sport_relation:similar' %}" method="get" id="similarform">
        <!-- {% csrf_token %} -->
        
        <div class="row justify-content-center">

            <div class="col-9">
                <h3 class="text-center">Similar Sports</h3>
                <ul>
                    <li>Enter a sport and learn which sports are most related with it.</li>
                </ul>
            </div>

            <div class="col-9">
                <select class="form-select mb-2" aria-label="Default select example" form="similarform" name="sportlist">
                    {% for sport in sportlist %}
                        <option value="{{sport.id}}">{{sport.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-5 d-flex justify-content-center mt-2">
                <button type="submit" class="btn btn-primary">Find Similar</button>
            </div>
        </div>
    </form>


    <form action="{% url 'sport_relation:suggest' %}" method="get" id="suggestform">
        <!-- {% csrf_token %} -->
        
        <div class="row justify-content-center" style="margin-top:70px">

            <div class="col-9">
                <h3 class="text-center">Suggestion</h3>
                <ul>
                    <li>Enter three sports you play and get a new sport suggestion.</li>
                </ul>
            </div>

            <div class="col-9">
                <select class="form-select mb-2" aria-label="Default select example" form="suggestform" name="sportlist1">
                    {% for sport in sportlist %}
                        <option value="{{sport.id}}">{{sport.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-9">
                <select class="form-select mb-2" aria-label="Default select example" form="suggestform" name="sportlist2">
                    {% for sport in sportlist %}
                        <option value="{{sport.id}}">{{sport.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-9">
                <select class="form-select mb-2" aria-label="Default select example" form="suggestform" name="sportlist3">
                    {% for sport in sportlist %}
                        <option value="{{sport.id}}">{{sport.name}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="col-5 d-flex justify-content-center mt-2">
                <button type="submit" class="btn btn-primary">Suggest A New Sport</button>
            </div>
        </div>
    </form>
{% endblock %}