{% extends 'base.html' %}


{% block content %}

    <!-- <div class="row justify-content-center"> -->
        <h3 class="text-center">Similar Sports with <i>{{root_sport.name}}</i></h3>

        <ul class="list-group">
            {% for sport in similar_sports %}
                <li class="list-group-item">{{sport.name}}</li>
            {% endfor %}
        </ul>

        <div class="row justify-content-center">
            <div class="col-5 d-flex justify-content-center mt-3">
                <a href="{% url 'sport_relation:index' %}" ><button type="submit" class="btn btn-secondary">Go Back</button></a>
            </div>
        </div>


    <!-- </div> -->

{% endblock %}