<!DOCTYPE html5>
<html>
    <head>
    <title>Group5</title>
    </head>

    <body>
    <center>
        <p>
            <h1>Pollution API</h1>
            <h2>Usage: add "?lat=YOUR_LATITUDE&lon=YOUR_LONGITUDE" to the end of url</h2>
            <h1 style="color: {{ color }}">⬤</h1>
            <h3>AQI: {{ aqi }} {{ name }}</h3>
            <h3>{{ description }}</h3>
            <h3>City: {{ city }}</h3>
            <h3>State: {{ state }}</h3>
            <h3>Country: {{ country }}</h3>
            <h3>Record time and date: {{ polluiton_ts }}</h3>

        </p>
    </center>
    </body>
</html>