{% extends 'weatherCondition/base.html' %}

{% block content%}
<center>
<h1>Weather condition</h1>
<p>Country: {{new.country}}</p>
<p>Town: {{new.town}}</p>
<p>Coordinations x:{{new.x}}, y:{{new.y}}</p>
<p>Description: {{new.description}}</p>
<p>Temperature indegrees: {{new.degrees}}</p>
<p>Pressure: {{new.pressure}}</p>
<p>Humidity: {{new.humidity}}</p>
<p>Wind speed: {{new.speed}}</p>
<p>Wind degree: {{new.degreeOfWind}}</p>

{% if old %}
<h2>Previous Search</h2>
<p>Country: {{old.country}}</p>
<p>Town: {{old.town}}</p>
<p>Coordinations x:{{old.x}}, y:{{old.y}}</p>
<p>Description: {{old.description}}</p>
<p>Degrees: {{old.degrees}}</p>
<p>Pressure: {{old.pressure}}</p>
<p>Humidity: {{old.humidity}}</p>
<p>Wind speed: {{old.speed}}</p>
<p>Wind degree: {{old.degreeOfWind}}</p>

{% else %} 

<p>No previous search</p>
{% endif %} 
</center>
{% endblock %}